.myButton{
    -fx-background-color: #00fd26;
}
.root{
    -fx-background-image:  url(./cssDemo.jpg);
    -fx-background-size: cover;
}
.myButton:hover{
    /*-fx-background-image: url(./cssDemo.jpg);*/
 -fx-background-color: #727a75;
    -fx-background-size: cover;
}
.myButton:pressed{
    -fx-background-color: rgba(255, 0, 0, 0.31);
}
#label{
    -fx-background-color:  #00fd23;
}
#label:hover{
    -fx-background-color: #3e8c73;
}
#label:pressed{
    -fx-background-color: #000000;
}