<configuration>

    <!-- 定义输出到文件的appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
<!--        这里一定要用绝对路径，用相对路径是无效的-->
        <file>D:/log/logfile.log</file> <!-- 日志输出文件路径 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/log/logfile.%d{yyyy-MM-dd}.log</fileNamePattern> <!-- 日志文件命名规则 -->
            <maxHistory>7</maxHistory> <!-- 最多保留7天的日志文件 -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> <!-- 日志输出格式 -->
        </encoder>
    </appender>

    <!-- 定义输出到控制台的appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n)
            </pattern> <!-- 使用highlight标签实现彩色输出 -->
        </encoder>
    </appender>

    <!-- 设置根logger -->
    <root level="debug">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>